<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maochunjie.flyverifyscope">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application>
    <meta-data
        android:name="custom-AppKey"
        android:value="${FLY_VERIFY_KEY}" />
    <meta-data
        android:name="custom-AppSecret"
        android:value="${FLY_VERIFY_SECRET}" />
  </application>
</manifest>
